<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
<!-- 文件上传表单 -->
<%= form_for :upload, :html =>{:multipart => true} do |f| %>
    <%= f.file_field :file %>
    <%= f.submit "Upload" %>
<% end %>
</body>
</html>